@using System.Web
<!doctype html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head>
    @if (ViewData["Title"]!=null){
        <title>Portal Vigilancia y Proteccion (Ofertas, trabajo,  empleo, noticias, cursos) - @(ViewBag.MetaTitle)</title>
    }
    else{
        <title>Portal Vigilancia y Proteccion (Ofertas, trabajo,  empleo, noticias, cursos) - @(ViewData["Title"])</title>
    }
    <link rel="icon" href="/assets/images/logo2.ico">
    @{
        var url = string.Format("{0}://{1}{2}{3}",
        Context.Request.Scheme,
        Context.Request.Host,
        Context.Request.Path,
        Context.Request.QueryString.ToUriComponent());
        var urlencoded = System.Net.WebUtility.UrlEncode(url);

        ViewBag.Url = urlencoded;
    }
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <!-- Twitter -->
    <meta name="twitter:card" property="twitter:card" content="summary_large_image">
    <meta name="twitter:url" property="twitter:url" content="@ViewBag.Url">
    <meta name="twitter:title" property="twitter:title" content="@(ViewBag.MetaTitle) - Portal Vigilancia y Protecion">
    <meta name="twitter:description" property="twitter:description" content="@(ViewBag.MetaDescription) - Portal Vigilancia y Proteccion (Ofertas, trabajo,  empleo, noticias, cursos)">
    <meta name="twitter:image" property="twitter:image" content="@(ViewBag.MetaImg)">

    <!--   -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="raulkarba">
    <meta name="description" content="@(ViewBag.MetaDescription)
        - Portal Vigilancia y Proteccion (Ofertas, trabajo,  empleo, noticias, cursos)"


    <!-- Open Graph / Facebook -->
    <meta name="og:type" property="og:type" content="website">
    <meta name="og:url" property="og:url" content="@ViewBag.Url">
    <meta name="og:title" property="og:title" content="@(ViewBag.MetaTitle) - Portal Vigilancia y Protecion">
    <meta name="og:description" property="og:description" content="@(ViewBag.MetaDescription) - Portal Vigilancia y Proteccion (Ofertas, trabajo,  empleo, noticias, cursos)">
    <meta name="og:image" property="og:image" content="@(ViewBag.MetaImg)">
    <meta name="og:image:url" property="og:image:url" content="@(ViewBag.MetaImg)">
    <meta name="og:image:secure_url" property="og:image:secure_url" content="@(ViewBag.MetaImg)">
    <meta name="og:image:width" property="og:image:width" content="314">
    <meta name="og:image:heigh" property="og:image:heigh" content="200">

    <!-- Primary Meta Tags -->
    <meta name="title" property="title" content="@(ViewBag.MetaTitle) - Portal Vigilancia y Protecion">
    <meta name="description" property="description" content="@(ViewBag.MetaDescription) - Portal Vigilancia y Proteccion (Ofertas, trabajo,  empleo, noticias, cursos)">
    <meta name="image" propery="image" content="@(ViewBag.MetaImg)">


    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/Layout/Main.css" rel="stylesheet" />
    <link href="~/css/Footer/Footer.css" rel="stylesheet" />
    <link href="~/css/Layout/Reveal.css" rel="stylesheet" />
    <link href="~/css/Layout/Icons.css" rel="stylesheet" />


    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">

    @RenderSection("styles",false)

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZHNTSQV12"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-RZHNTSQV12');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1574149679941923"
            crossorigin="anonymous"></script>
</head>
<body>
    @await Component.InvokeAsync("VC_Header")
    @await Component.InvokeAsync("VC_NavBar")
    <section class="py-5 text-white">
        <div class="container py-4" style="background-color:black;">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1574149679941923"
                            crossorigin="anonymous">
                    </script>
                    <!-- VYP-DetallesOferta-2 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1574149679941923"
                         data-ad-slot="7470256981"
                         data-ad-format="auto">
                    </ins> <script>
                               (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        @RenderBody()
        <link href="~/css/Home/Index.css" rel="stylesheet" />
        <link href="~/css/Home/Cursos.css" rel="stylesheet" />

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1574149679941923"
                crossorigin="anonymous"></script>
        <!-- VYP-DetallesOferta-2 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1574149679941923"
             data-ad-slot="7470256981"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <hr/>
        <h1>Novedades</h1>
        <hr />
        <span id="spin_panel" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <div id="panel_vc"></div>

        <script src="~/js/Layout/GetDataPanel.js"></script>

    </div>

    <script src="~/js/Layout/Navbar.js"></script>

    <script language="javascript" src="~/js/Layout/RevealY.js"></script>
    <script language="javascript" src="~/js/Layout/RevealX.js"></script>

    <script src="~/js/Layout/GetData.js"></script>


    @RenderSection("scripts", false)
</body>
<footer id="footer" class="footer-1">
    @await Component.InvokeAsync("VC_Footer")
</footer>
</html>
